<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title class="app-title">
      <img src="assets/logosimbolo.svg" alt="logo-simbolo" width="40px" height="40px">
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-searchbar placeholder="Procurar nutricionista"></ion-searchbar>

  <ion-list>
    <ion-card *ngFor="let nutri of nutricionistas">
      <ion-card-header>
        <ion-card-title>{{ nutri.nome }}</ion-card-title>
        <ion-card-subtitle>{{ nutri.especialidade }}</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <ion-avatar slot="start" style="margin-bottom: 10px;">
          <img [src]="nutri.foto" alt="Foto do nutricionista">
        </ion-avatar>
        <div>
          <p>{{ nutri.descricao }}</p>
          <ion-button expand="block" style="--background: #232b36; --color: #fff;">
            Solicitar consultoria
          </ion-button>
        </div>
      </ion-card-content>
    </ion-card>
  </ion-list>
</ion-content>
