<ion-header [translucent]="true">
  <ion-toolbar color="success">
    <ion-title class="app-title">
      Chat
    </ion-title>
    <ion-buttons slot="end">
      <ion-icon name="settings-outline" slot="icon-only"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-card>
  <ion-card-header>
    <ion-card-title>Card Title</ion-card-title>
    <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
  </ion-card-header>

  <ion-card-content>
    Here's a small text description for the card content. Nothing more, nothing less.
  </ion-card-content>
</ion-card>
</ion-content>
