.titulo-agua {
    text-align: center;
    margin-bottom: 15px;
    color: #333;
}

.card-agua-card{
    background: #232b36;
    border-radius: 18px;
    padding: 0;
    overflow: hidden;
    text-align: center;
}

.agua-header {
    background: #232b36;
    color: #fff;
   
    padding: 12px 18px 8px 18px;
    border-top-left-radius: 18px;
    border-top-right-radius: 18px;
    font-size: 1.1em;
}