// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/

:root {
  --ion-color-success: #066232;
  --ion-color-success-rgb: 6, 98, 50;
  --ion-color-success-contrast: #fff;
  --ion-color-success-contrast-rgb: 255,255,255;
  --ion-color-success-shade: #055628;
  --ion-color-success-tint: #1e7544;
}
